<div class="wizard-form thanks">
  <span> THANK YOU! </span>
  <section>
    <div class="inner">
      <div >
        <%= button_to "See Results", responses_path, :id => "open-contacts-dialog-btn",
                      :class => "btn btn-primary", :method => :get %>
      </div>
    </div>
  </section>
</div>

